aws_access_key = ""
aws_secret_key = ""

aws_key_path = "~/.ssh/default.rsa"
aws_key_name = "default"

kafka_nodes = 3
kafka_size = "t2.medium"
kafka_partitions = 3
kafka_replication = 3
zookeeper_size = "t2.small"
